*.z64
*.gba
*.gb
*.gbc
*.sfc
*.smc
*.nds
*.nso
*.bin
*.iso
*.img
*.cue
*.nes
*.fds
# vcdiff-custom-table's sources are generated synthetics, not ROM images.
!vcdiff-custom-table/*.bin
# The author's readme forbids redistribution; see README.md for how to place it locally.
wrecking-crew/constructors/patch.xdelta
